.container-fluid{
    height: 100vh;
    background-image: url( icons/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title-bl{
    margin-top: 100px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.main-form{
    background-color: white;
    margin-top: 20px;
    opacity: 0.8;
}
form{
    height: 350px;
    display: flex;
    flex-direction: column;
}
input[type="password"],
input[type="text"]{
height: 40px;
}
.form{
    margin-top: 20px;
}
 
a{
    margin-top: 10px;
}

input:invalid{
    border: 2px solid red;
}

input:required:valid{
    border: 2px solid green;
}
