.bottom-sec{
    display: flex;
justify-content: space-between;
align-items: center;
width: 60%;
}
.cont{

margin-top: 30px;
}

.card{
    margin-top: 50px;
   
}
.card:nth-child(2){
margin-left: 10px;
}

.card:nth-child(3){
    margin-left: 20px;
}
