 
span{
    
   opacity: 0.6;
   margin-left: 8px;
}

span:nth-child(2){
    color: white;
}
.img-2{
    margin-left: 7px;
}
.date{
    margin-top: 20px;
    height: 80px;
    font-size: 18px;
}

tr{
    padding: 20px;
}

img{
    width: 20px;
    height: 20px;
   padding: 0;
}
